*, *::before, *::after
    box-sizing: border-box
    
@import "normalizes.scss";
@import "resets.scss";

.main-section
    width: 100%
    min-height: 100vh
    background: url('../img/main-background.jpg') no-repeat center center / cover
    display: block
    margin: 0 auto

.main-section__content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    min-height: 100vh
    width: 100%


.container
    width: 100%
    max-width: 1200px
    padding: 0 16px
    display: block
    margin: 0 auto
    height: 2100px
    background: url('../img/background.jpg') no-repeat center center / cover
    margin-bottom: 18px
    


.container > img
    width: 80%
    aspect-ratio: 3 / 4
    object-fit: cover
    display: block
    margin: 0 auto
    border-radius: 6px
    padding-bottom: 16px
    margin-top: 20px


.title
    background: rgba(217, 217, 217, 0.78)
    display: block
    border-radius: 14px
    width: 65%
    height: 574px
    margin: 0 auto

h1
    font-size: 64px
    line-height: 70px

.title__description > h3
    font-size: 40px
    line-height: 55px

.roboto-mono-light
    font-family: "Roboto Mono", monospace
    font-optical-sizing: auto
    font-weight: 300
    font-style: normal

.manrope-light 
  font-family: "Manrope", sans-serif
  font-optical-sizing: auto
  font-weight: 300
  font-style: normal


.manrope-semiBold 
  font-family: "Manrope", sans-serif
  font-optical-sizing: auto
  font-weight: 600
  font-style: normal

.title__main-title_padding
    padding: 7px 19px

.title__description_padding
    padding: 17px 19px

.main-button-section
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    gap: 17px
    margin-bottom: 15px

.main-button-section__btn
    background: #000000
    border: none
    width: 800px
    height: 120px
    border-radius: 12px
    color: #C6C6C6
    opacity: 0.7
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    

.main-button-section
    a
        &:link,
        &:visited,
        &:hover,
        &:active,
        &:focus
            color: #C6C6C6
            text-decoration: none  
              

.manrope-regular
    font-family: "Manrope", sans-serif
    font-optical-sizing: auto
    font-weight: 400
    font-style: normal
    font-size: 80px
    line-height: 60px
    letter-spacing: 10%

.btn--opacity
    opacity: 1

.main > img 
    display: block
    margin: 0 auto
    border-radius: 25px
    margin-bottom: 32px

@mixin greyBG($width, $height)
    width: $width
    height: $height
    background-color: rgba(217, 217, 217, 0.61)
    border-radius: 18px
    display: block
    margin: 0 auto
    padding-top: 40px


@mixin darkBtn($width, $height)
    width: $width
    height: $height
    background-color: #000000
    border-radius: 12px
    color: #C6C6C6
    display: block
    margin: 0 auto
    margin-bottom: 28px

.text-block
    @include greyBG(1218px, 490px)
    padding: 30px 52px
    margin-bottom: 40px

.text-block__title
    font-size: 66px
    line-height: 70px
    margin-bottom: 18px

.text-block__description
    font-size: 36px
    line-height: 42px
    
.services-block
    @include greyBG(1218px, 500px)
    margin-bottom: 40px
    
.services-block__title
    @include darkBtn(800px, 66px)
    display: flex
    justify-content: center
    align-items: center
    opacity: 0.6
    
.services-block__title > h2 
    font-size: 48px
    line-height: 30px
    letter-spacing: 10%
    color: #C6C6C6

.services-block__description  
    display: flex
    justify-content: space-between

.services-block__description-name
    display: flex
    flex-direction: column
    font-size: 24px
    line-height: 20px
    letter-spacing: 10%
    color: #000
    opacity: 1

.services-block__description-price
    display: flex
    flex-direction: column
    font-size: 24px
    line-height: 20px
    letter-spacing: 10%
    color: #000
    opacity: 1 

.services-block__description-name > span
    margin-bottom: 30px
    margin-left: 42px

.services-block__description-price > span
    margin-bottom: 30px
    margin-right: 42px
    text-align: right

.small
    height: 272px

.slider-wrapper
    position: relative
    width: 100%
    max-width: 1218px
    height: 450px
    overflow: hidden
    background-color: rgba(10, 0, 0, 0.7)
    border-radius: 28px
    display: block
    margin: 0 auto
    margin-bottom: 26px

.slider-wrapper__slider-track
    display: flex
    overflow-x: auto
    scroll-behavior: smooth
    align-items: center
    height: 100%
    gap: 16px
    padding: 0 16px

.card
    height: 308px
    width: 374px
    background: #141111
    display: flex
    align-items: center
    justify-content: center
    border-radius: 24px
    user-select: none
    gap: 8px
    color: white
    
.card img
    width: 100%
    height: 100%
    object-fit: cover
    border-radius: 24px    
    



.slider-wrapper_arrow
    position: absolute
    top: 50%
    transform: translateY(-50%)
    background: none
    border: none
    color: white
    font-size: 32px
    padding: 10px
    cursor: pointer
    z-index: 1

.arrow-left
    left: 10px

.arrow-right
    right: 10px

.form-entry
    @include greyBG(1216px, 500px)
    background-color: rgba(10, 0, 0, 0.7)
    margin-bottom: 56px
    
.form-entry__entry-btn
    @include darkBtn(372px, 72px)
    color: #FFFFFF
    font-size: 30px
    text-align: center
    display: flex
    justify-content: center
    align-items: center

.form-entry__entry-input > form
    display: flex
    flex-direction: column

form > input
    width: 700px
    height: 82px
    display: block
    margin: 0 auto
    margin-bottom: 26px
    border: none
    background-color: #D9D9D9
    padding-left: 22px
    
.form-entry__input 
    color: #B3B3B3    
    font-size: 30px
    border-radius: 4px

form > input:last-of-type
    margin-bottom: 70px

.form-entry__call-btn
    background-color: #759A74
    border: none
    width: 344px
    height: 74px
    border-radius: 21px
    display: block
    margin: 0 auto 
    color: #fff
    font-size: 30px
    letter-spacing: 10%
    line-height: 30px

.contacts-block
    margin-bottom: 50px

.contacts-block__title
    @include darkBtn(1018px, 78px)
    border-radius: 0
    background-color: rgba(10, 0, 0, 0.38)
    color: #F5F5F5
    display: flex
    justify-content: center
    align-items: center
    
.contacts-block__title > h2
    font-size: 48px
    letter-spacing: 20%    
    text-align: center

.contacts-block__content-name
    display: flex
    flex-direction: column
    text-align: left

.contacts-block__content-link
    display: flex
    flex-direction: column
    text-align: right

.contacts-block__content-link
    a
        &:link,
        &:visited,
        &:hover,
        &:active,
        &:focus
            color: #000
            text-decoration: none


.contacts-block__content
    @include greyBG(1018px, 200px)
    display: flex
    justify-content: space-between
    font-size: 26px
    background: none

.address
  display: flex
  justify-content: center

.address > p
  text-align: left
  width: 1018px
  font-size: 28px
  
.map-wrapper
  display: flex
  justify-content: center
  margin: 40px auto

input:focus
    outline: 4px solid #000
    color: #000


@media (max-width: 1199px)
    .main-section
        width: 100%
        display: flex
        justify-content: center


    .container
        width: 90%
        height: auto
    
    .title
        width: 80%
        height: auto
        margin-bottom: 260px

    .title-description
        h3
          font-size: 37px
          line-height: 48px

    .manrope-regular
        font-size: 75px


    .text-block__title
        font-size: 60px

    .text-block__description
        font-size: 30px    

    .services-block__description-name
        font-size: 21px
        line-height: 21px

    .services-block__description-price 
        font-size: 21px
        line-height: 21px

    .services-block__title 
        max-width: 800px
        width: 90%
        height: 58px

    .services-block__title 
        h2
            font-size: 42px

    .slider-wrapper
        width: 90%
        height: auto

    .slider-wrapper__slider-track
        padding: 55px 16px

    .manrope-regular 
        font-size: 70px

    .form-entry__entry-btn
        font-size: 43px

    .for-media
        font-size: 43px

    .form-entry__call-btn
        margin-bottom: 28px

    .for-media-btn
        font-size: 42px

    .text-block
        max-width: 1218px
        width: 90%
    .services-block
        max-width: 1218px
        width: 90%
    .form-entry
        width: 90%
        height: auto

    .contacts-block__title
        width: 97%
        height: auto

    .for-media-contacts
        font-size: 30px
    
    .for-media-address
        p
            font-size: 20px
    .main
        width: 90%

@media (max-width: 991px)
    .main-section__content
        width: 95%
    
    .container 
        width: 80%

    .container > img
        width: 80%

    .for-media-title > h1
        font-size: 36px
        line-height: 45px

    .title__description > h3 
        font-size: 25px
        line-height: 39px

    .main-button-section__btn 
        width: 750px
        height: 100px

    .for-media-main-btn
        font-size: 58px


    .main > img
        width: 80%
        aspect-ratio: 1 / 1
        object-fit: cover
        
    .text-block
        width: 80%
        height: 455px


    .for-media-text-block
        font-size: 35px
        line-height: 45px

    .for-media-description
        font-size: 18px
        line-height: 24px

    .services-block__title
        width: 80%
        height: 46px

    .services-block__title h2 
        font-size: 35px

    .services-block__description-name 
        font-size: 16px
        line-height: 15px   

    .services-block__description-price > span
        font-size: 18px
        line-height: 15px

    .services-block 
        width: 80%
        height: 426px  

    .small
        height: 225px

    .for-media-portfolio
        width: 40%


    .form-entry__entry-btn 
        font-size: 38px

    .for-media
        font-size: 35px


    .for-media-btn 
        font-size: 36px
      

    .for-media-contacts 
        width: 841px
        font-size: 23px
        line-height: 38px

    .contacts-block__title
        width: 80%


    .for-media-address > p
        width: 824px

    .media-width
        width: 850px


    iframe
        width: 100%
        max-width: 1200px
        aspect-ratio: 4 / 3
        height: auto
        border: none
        border-radius: 12px


@media (max-width: 767px)
    .container
        display: flex
        flex-direction: column
        padding: 0
        margin-bottom: 23px

    .main-button-section
        margin-bottom: 23px
    
    .main-button-section__btn
        width: 566px

    .title
        width: 80%
        padding: 16px
        h1
        font-size: 28px
        h3
        font-size: 18px

    .for-media-text-block 
        font-size: 29px
        line-height: 40px

    .for-media-description 
        font-size: 14px
        line-height: 20px

    form 
        input
            width: 529px

    .contacts-block__content
        width: 681px

    .for-media-address > p 
        width: 686px

    iframe
        width: 100%
        max-width: 950px
    
    .media-width
        margin: 0 auto
        width: 100%

@media (max-width: 575px)
    .main-button-section__btn
        width: 390px
  

    .text-block__description
        font-size: 10px
        line-height: 27px

    
    .services-block__description-name 
        font-size: 11px
        line-height: 11px

    .services-block__description-price 
        span 
            font-size: 11px
            line-height: 11px

    .services-block__title 
        h2 
            font-size: 23px

    .manrope-regular
        font-size: 40px
        line-height: 48px
    .title
        border-radius: 10px
        h1
        font-size: 24px
        h3
        font-size: 16px

    form 
        input
            width: 370px

    .form-entry__entry-btn
        width: 341px

    .for-media-btn
        width: 310px

    .manrope-regular 
        font-size: 29px

    .for-media-contacts
        width: 534px
        font-size: 20px

    .for-media-address > p 
        width: 516px